<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>모딩</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>moding_application</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tauthlink</string>
		<string>ktauthexternalcall</string>
		<string>upluscorporation</string>
		<string>kakaotalk</string>
		<string>ispmobile</string>
		<string>kb-acp</string>
		<string>kftc-bankpay</string>
		<string>com.wooricard.wcard</string>
		<string>hdcardappcardansimclick</string>
		<string>shinhan-sr-ansimclick</string>
		<string>shc-ansimclick</string>
		<string>smshinhanansimclick</string>
		<string>smhyundaiansimclick</string>
		<string>mpocket.online.ansimclick</string>
		<string>monimopay</string>
		<string>monimopayauth</string>
		<string>scardcertiapp</string>
		<string>cloudpay</string>
		<string>hanawalletmembers</string>
		<string>hanaskcardmobileportal</string>
		<string>nhallonepayansimclick</string>
		<string>nonghyupcardansimclick</string>
		<string>Liivbank</string>
		<string>newliiv</string>
		<string>kbbank</string>
		<string>newsmartpib</string>
		<string>wooripay</string>
		<string>citimobileapp</string>
		<string>lotteappcard</string>
		<string>lottesmartpay</string>
		<string>payco</string>
		<string>lpayapp</string>
		<string>lmslpay</string>
		<string>shinsegaeeasypayment</string>
		<string>supertoss</string>
		<string>tmoneypay</string>
		<string>chai</string>
		<string>tswansimclick</string>
		<string>uppay</string>
		<string>kakaobank</string>
		<string>naversearchapp</string>
		<string>bankwallet</string>
		<string>ukbanksmartbanknonloginpay</string>
		<string>kdb-bankpay</string>
		<string>ibk-bankpay</string>
		<string>kb-bankpay</string>
		<string>keb-bankpay</string>
		<string>sh-bankpay</string>
		<string>nhb-bankpay</string>
		<string>nh-bankpay</string>
		<string>wr-bankpay</string>
		<string>sc-bankpay</string>
		<string>s-bankpay</string>
		<string>ct-bankpay</string>
		<string>dg-bankpay</string>
		<string>bnk-bankpay</string>
		<string>kj-bankpay</string>
		<string>jj-bankpay</string>
		<string>jb-bankpay</string>
		<string>kn-bankpay</string>
		<string>kp-bankpay</string>
		<string>cu-bankpay</string>
		<string>mg-bankpay</string>
		<string>kbn-bankpay</string>
		<string>kkb-bankpay</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.moding.application</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>moding</string>
				<string>modingapp</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>사업자 등록증 촬영을 위해 카메라 접근 권한이 필요합니다.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>사업자 등록증 업로드를 위해 사진첩 접근 권한이 필요합니다.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneClassName</key>
					<string>UIWindowScene</string>
					<key>UISceneConfigurationName</key>
					<string>flutter</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
